<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags-->
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="au theme template">
<meta name="author" content="Michael AKinyade">
<meta name="keywords" content="au theme template">

<!-- Title Page-->
<title>Batch Automation</title>

<!-- Fontfaces CSS-->
<link href="/css/font-face.css" rel="stylesheet" media="all">
<link href="/vendor/font-awesome-4.7/css/font-awesome.min.css"
	rel="stylesheet" media="all">
<link href="/vendor/font-awesome-5/css/fontawesome-all.min.css"
	rel="stylesheet" media="all">
<link href="/vendor/mdi-font/css/material-design-iconic-font.min.css"
	rel="stylesheet" media="all">

<!-- Bootstrap CSS-->
<link href="/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet"
	media="all">

<!-- Vendor CSS-->
<link href="/vendor/animsition/animsition.min.css" rel="stylesheet"
	media="all">
<link
	href="/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css"
	rel="stylesheet" media="all">
<link href="/vendor/wow/animate.css" rel="stylesheet" media="all">
<link href="/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet"
	media="all">
<link href="/vendor/slick/slick.css" rel="stylesheet" media="all">
<link href="/vendor/select2/select2.min.css" rel="stylesheet"
	media="all">
<link href="/vendor/perfect-scrollbar/perfect-scrollbar.css"
	rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="/css/theme.css" rel="stylesheet" media="all">

<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link
	href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css"
	rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Cutive'
	rel='stylesheet'>
<link href="/css/editedCss.css" rel="stylesheet" media="all">


<script type="text/javascript"
	src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript"
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script
	src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js">
	
</script>

<!-- Bootstrap Toggle button -->
<link
	href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
	rel="stylesheet">
<script
	src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

</head>

<body class="animsition">
	<div class="page-wrapper">
		<!-- HEADER DESKTOP-->
		<header class="header-desktop3 d-none d-lg-block">
			<div class="section__content section__content--p35">
				<div class="header3-wrap">
					<div class="header__logo">
						<a th:href="@{/admin/home}"> <img
							src="/images/icon/GLI-logo.png" alt="CoolAdmin" />
						</a>
					</div>
					<div class="header__navbar">
						<ul class="list-unstyled">
							<li class="has-sub"><a th:href="@{/batchConfig}"> <i
									class="fas fa-tachometer-alt"></i>Batch Config <span
									class="bot-line"></span>
							</a> <!--<ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="index.html">Dashboard 1</a>
                                    </li>
                                    <li>
                                        <a href="index2.html">Dashboard 2</a>
                                    </li>
                                    <li>
                                        <a href="index3.html">Dashboard 3</a>
                                    </li>
                                    <li>
                                        <a href="index4.html">Dashboard 4</a>
                                    </li>
                                </ul>--></li>
							<li><a href="#"> <i class="fas fa-shopping-basket"></i>
									<span class="bot-line"></span> Report config
							</a></li>
							<li><a href="table.html"> <i class="fas fa-trophy"></i>
									<span class="bot-line"></span>Solife DB
							</a></li>
							<li class="has-sub"><a
								href="http://localhost:8023/h2/login.jsp"> <i
									class="fas fa-copy"></i> <span class="bot-line"></span>H2 DB
							</a></li>
							<li class="has-sub">
							
							<a th:href="@{/emailConfig}"> <i
									class="fas fa-desktop"></i> <span class="bot-line"></span>Email
									Config
							</a>
								<ul class="header3-sub-list list-unstyled"></ul></li>
						</ul>
					</div>
					<div class="header__tool">
						<div class="header-button-item has-noti js-item-menu">
							<i class="zmdi zmdi-notifications"></i>
							<div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
								<div class="notifi__title">
									<p>You have 3 Notifications</p>
								</div>
								<div class="notifi__item">
									<div class="bg-c1 img-cir img-40">
										<i class="zmdi zmdi-email-open"></i>
									</div>
									<div class="content">
										<p>You got a email notification</p>
										<span class="date">April 12, 2018 06:50</span>
									</div>
								</div>
								<div class="notifi__item">
									<div class="bg-c2 img-cir img-40">
										<i class="zmdi zmdi-account-box"></i>
									</div>
									<div class="content">
										<p>Your account has been blocked</p>
										<span class="date">April 12, 2018 06:50</span>
									</div>
								</div>
								<div class="notifi__item">
									<div class="bg-c3 img-cir img-40">
										<i class="zmdi zmdi-file-text"></i>
									</div>
									<div class="content">
										<p>You got a new file</p>
										<span class="date">April 12, 2018 06:50</span>
									</div>
								</div>
								<div class="notifi__footer">
									<a href="#">All notifications</a>
								</div>
							</div>
						</div>
						<div class="header-button-item js-item-menu">
							<i class="zmdi zmdi-settings"></i>
							<div class="setting-dropdown js-dropdown">
								<div class="account-dropdown__body">
									<div class="account-dropdown__item">
										<a href="#"> <i class="zmdi zmdi-account"></i>Batch Config
										</a>
									</div>
									<div class="account-dropdown__item">
										<a href="#"> <i class="zmdi zmdi-settings"></i>Report
											Config
										</a>
									</div>
									<div class="account-dropdown__item">
										<a href="#"> <i class="zmdi zmdi-money-box"></i>Database
											Connection
										</a>
									</div>
								</div>
								<div class="account-dropdown__body">
									<div class="account-dropdown__item">
										<a href="#"> <i class="zmdi zmdi-globe"></i>H2 Database
										</a>
									</div>
									<div class="account-dropdown__item">
										<a href="#"> <i class="zmdi zmdi-pin"></i>Email
											Configuration
										</a>
									</div>
									<!-- <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-email"></i>Email</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-notifications"></i>Notifications</a>
                                    </div>-->
								</div>
							</div>
						</div>
						<div class="account-wrap">
							<div
								class="account-item account-item--style2 clearfix js-item-menu">
								<div class="image">
									<img src="/images/icon/avatar-01.jpg" alt="John Doe" />
								</div>
								<div class="content">
									<a class="js-acc-btn" href="#"
										th:text="${bean.firstName  + ' '+ bean.lastName }">john
										doe</a>
								</div>
								<div class="account-dropdown js-dropdown">
									<div class="info clearfix">
										<div class="image">
											<a href="#"> <img src="/images/icon/avatar-01.jpg"
												alt="John Doe" />
											</a>
										</div>
										<div class="content">
											<h5 class="name">
												<a href="#" th:text="${bean.firstName}"> </a>
											</h5>
											<span class="email">mike@example.com</span>
										</div>
									</div>
									<div class="account-dropdown__body">
										<div class="account-dropdown__item">
											<a href="#"> <i class="zmdi zmdi-account"></i>Account
											</a>
										</div>
										<div class="account-dropdown__item">
											<a href="#"> <i class="zmdi zmdi-settings"></i>Setting
											</a>
										</div>
										<div class="account-dropdown__item">
											<a href="#"> <i class="zmdi zmdi-money-box"></i>Billing
											</a>
										</div>
									</div>
									<div class="account-dropdown__footer">
										<a href="#"> <i class="zmdi zmdi-power"></i>Logout
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- inclusion of logout form -->
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>
		<h4 class="reportHeaderText">Report Configuration Page</h4>

		<div clss="container">
			<div class="row">
				<div class="col-lg-6">
					<!-- calendar details, DatePicker and submit button-->
					<form th:action="@{/reportConfigButt}" method="post"
						class="form-dataPicker">
						<div class="border content text-center"
							style="width: 15cm; margin-top: 40px; margin-left: 100px; margin-bottom: 50px; border-radius: 15px;">
							<h5>
								<b class="bodyHeaderText"> Change Report Date and time </b>
							</h5>
							<br>
							<div class="row">

								<div class='col-lg-8'>

									<div class="form-group justify-content-center"
										style="margin-left: 20px">
										<label for="dtpickerdemo" class="col-sm-4 control-label">Select
											date/time:</label>
										<div class="col-sm-6 input-group date" id="dtpickerdemo">
											<input type="text" name="calenderName" class="form-control" />
											<span class="input-group-addon"> <span
												class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>

								</div>
								<!-- batch selection -->
								<!--
						<a class="btn btn-secondary dropdown-toggle" href="#"
							role="button" id="dropdownMenuLink" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> Batch Type </a>-->

								<select th:value="${id}" name="reportTypeSelector"
									class="dropdown show btn btn-secondary dropdown-toggle col-lg-3 col-md-1"
									aria-haspopup="true" aria-expanded="false"
									STYLE="margin-right: 10px; margin-bottom: 30px">
									<div>class="btn btn-secondary dropdown-toggle" href="#"
										role="button" id="dropdownMenuLink" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false"> Batch Type</div>
									<option class="btn btn-secondary dropdown-toggle" role="button"
										id="dropdownMenuLink" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false"
										th:each="reportType : ${reportTypeList}"
										th:value="${reportType.id}" th:text="${reportType.reportName}"
										th:selected="${reportType.id}"></option>
								</select>

								<script type="text/javascript">
									jQuery(function($) {
										$("#dtpickerdemo").datetimepicker();
									});
								</script>

							</div>


							<div class="row">
								<div class="col-lg-5 text-center"
									style="margin-left: 180px; margin-bottom: 20px">
									<button name="action" value="submitCalenderReport"
										class="btn btn-primary calender" type="submit"
										style="width: 200px">Submit</button>
								</div>
							</div>
						</div>

						<!-- Table location  -->

						<div class="row">

							<div class="col-lg">
								<table class="table tableChangeTimeAndDate">
									<thead class="thead-dark">
										<tr>
											<th scope="col">#</th>
											<th scope="col">Batch Name</th>
											<th scope="col">Status</th>
											<!-- 											<th scope="col">Sched Date Time</th>
 -->
											<th scope="col">Last Fire</th>
											<th scope="col">Next Time</th>
										</tr>
									</thead>
									<tbody class="tableText" >
										<tr th:each="tableData : ${tableDataList}">
											<th scope="row" th:text="${tableData.numb}">1</th>
											<td th:text="${tableData.name}"></td>
											<td th:text="${tableData.status}"></td>
											<!-- 											<td th:text="${tableData.schedDateAndTime}"></td>
 -->
											<td th:text="${tableData.lastFire}"></td>
											<td th:text="${tableData.nextFire}"></td>
										</tr>
									</tbody>
								</table>


							</div>
						</div>
					</form>

				</div>
				<!--Second Part of configuration with toggle button Pause and Resume Single Batch -->

				<div class="col-lg-6">
					<form th:action="@{/reportConfigButt}" method="post">
						<div class="border content text-center"
							style="width: 15cm; margin-top: 40px; margin-left: 120px; margin-bottom: 50px; border-radius: 15px;">
							<h5>
								<b class="bodyHeaderText"> Pause And Resume Single Batch</b>
							</h5>
							<br>
							<div class="row">

								<div class='col-lg-9 ml-5'>
									<select th:value="${id}" name="reportTypeSelector"
										class="dropdown show btn btn-secondary dropdown-toggle col-lg-6 col-md-6"
										aria-haspopup="true" aria-expanded="false"
										STYLE="margin-left: 100px; margin-bottom: 30px">
										<div>class="btn btn-secondary dropdown-toggle" href="#"
											role="button" id="dropdownMenuLink" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false"> Batch Type</div>
										<option class="btn btn-secondary dropdown-toggle"
											role="button" id="dropdownMenuLink" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false"
											th:each="reportType : ${reportTypeList}"
											th:value="${reportType.id}"
											th:text="${reportType.reportName}"
											th:selected="${reportType.id}"></option>
									</select> <input type="checkbox" data-toggle="toggle" data-on="Pause"
										data-off="Resume" name="checkboxVal"
										th:checked="${myBooleanVariable}">

								</div>

							</div>


							<div class="row">
								<div class="col-lg-5 text-center"
									style="margin-left: 180px; margin-bottom: 20px">
									<button name="action" value="submitSinglePauseResumeReport"
										class="btn btn-primary calender" type="submit"
										style="width: 200px">Submit</button>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 text-center">
									<hr>

									<div class="resumePause">
										<div class="row" align="center">

											<label class="labelTextAlign"> Pause All Report </label>
										</div>

										<button name="action" value="pause"
											class="btn btn-primary calender" type="submit"
											style="width: 200px">Pause</button>
									</div>

								</div>

							</div>


							<div class="row">
								<div class="col-lg-12 text-center">
									<hr>

									<div class="resumePause">
										<div class="row" align="center">

											<label class="labelTextAlign"> Resume All Report </label>
										</div>

										<button name="action" value="resume"
											class="btn btn-primary calender" type="submit"
											style="width: 200px">Resume</button>
									</div>

								</div>

							</div>



						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- END HEADER DESKTOP-->

		<!-- HEADER MOBILE-->
		<header class="header-mobile header-mobile-2 d-block d-lg-none">
			<div class="header-mobile__bar">
				<div class="container-fluid">
					<div class="header-mobile-inner">
						<a class="logo" href="index.html"> <img
							src="/images/icon/logo-white.png" alt="CoolAdmin" />
						</a>
						<button class="hamburger hamburger--slider" type="button">
							<span class="hamburger-box"> <span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
				</div>
			</div>
			<nav class="navbar-mobile">
				<div class="container-fluid">
					<ul class="navbar-mobile__list list-unstyled">
						<li class="has-sub"><a class="js-arrow" href="#"> <i
								class="fas fa-tachometer-alt"></i>Dashboard
						</a>
							<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
								<li><a href="index.html">Dashboard 1</a></li>
								<li><a href="index2.html">Dashboard 2</a></li>
								<li><a href="index3.html">Dashboard 3</a></li>
								<li><a href="index4.html">Dashboard 4</a></li>
							</ul></li>
						<li><a href="chart.html"> <i class="fas fa-chart-bar"></i>Charts
						</a></li>
						<li><a href="table.html"> <i class="fas fa-table"></i>Tables
						</a></li>
						<li><a href="form.html"> <i class="far fa-check-square"></i>Forms
						</a></li>
						<li><a href="#"> <i class="fas fa-calendar-alt"></i>Calendar
						</a></li>
						<li><a href="map.html"> <i class="fas fa-map-marker-alt"></i>Maps
						</a></li>
						<li class="has-sub"><a class="js-arrow" href="#"> <i
								class="fas fa-copy"></i>Pages
						</a>
							<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
								<li><a href="login.html">Login</a></li>
								<li><a href="register.html">Register</a></li>
								<li><a href="forget-pass.html">Forget Password</a></li>
							</ul></li>
						<li class="has-sub"><a class="js-arrow" href="#"> <i
								class="fas fa-desktop"></i>UI Elements
						</a>
							<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
								<li><a href="button.html">Button</a></li>
								<li><a href="badge.html">Badges</a></li>
								<li><a href="tab.html">Tabs</a></li>
								<li><a href="card.html">Cards</a></li>
								<li><a href="alert.html">Alerts</a></li>
								<li><a href="progress-bar.html">Progress Bars</a></li>
								<li><a href="modal.html">Modals</a></li>
								<li><a href="switch.html">Switchs</a></li>
								<li><a href="grid.html">Grids</a></li>
								<li><a href="fontawesome.html">Fontawesome Icon</a></li>
								<li><a href="typo.html">Typography</a></li>
							</ul></li>
					</ul>
				</div>
			</nav>
		</header>
		<div class="sub-header-mobile-2 d-block d-lg-none">
			<div class="header__tool">
				<div class="header-button-item has-noti js-item-menu">
					<i class="zmdi zmdi-notifications"></i>
					<div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
						<div class="notifi__title">
							<p>You have 3 Notifications</p>
						</div>
						<div class="notifi__item">
							<div class="bg-c1 img-cir img-40">
								<i class="zmdi zmdi-email-open"></i>
							</div>
							<div class="content">
								<p>You got a email notification</p>
								<span class="date">April 12, 2018 06:50</span>
							</div>
						</div>
						<div class="notifi__item">
							<div class="bg-c2 img-cir img-40">
								<i class="zmdi zmdi-account-box"></i>
							</div>
							<div class="content">
								<p>Your account has been blocked</p>
								<span class="date">April 12, 2018 06:50</span>
							</div>
						</div>
						<div class="notifi__item">
							<div class="bg-c3 img-cir img-40">
								<i class="zmdi zmdi-file-text"></i>
							</div>
							<div class="content">
								<p>You got a new file</p>
								<span class="date">April 12, 2018 06:50</span>
							</div>
						</div>
						<div class="notifi__footer">
							<a href="#">All notifications</a>
						</div>
					</div>
				</div>
				<div class="header-button-item js-item-menu">
					<i class="zmdi zmdi-settings"></i>
					<div class="setting-dropdown js-dropdown">
						<div class="account-dropdown__body">
							<div class="account-dropdown__item">
								<a href="#"> <i class="zmdi zmdi-account"></i>Account
								</a>
							</div>
							<div class="account-dropdown__item">
								<a href="#"> <i class="zmdi zmdi-settings"></i>Setting
								</a>
							</div>
							<div class="account-dropdown__item">
								<a href="#"> <i class="zmdi zmdi-money-box"></i>Billing
								</a>
							</div>
						</div>
						<div class="account-dropdown__body">
							<div class="account-dropdown__item">
								<a href="#"> <i class="zmdi zmdi-globe"></i>Language
								</a>
							</div>
							<div class="account-dropdown__item">
								<a href="#"> <i class="zmdi zmdi-pin"></i>Location
								</a>
							</div>
							<div class="account-dropdown__item">
								<a href="#"> <i class="zmdi zmdi-email"></i>Email
								</a>
							</div>
							<div class="account-dropdown__item">
								<a href="#"> <i class="zmdi zmdi-notifications"></i>Notifications
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="account-wrap">
					<div
						class="account-item account-item--style2 clearfix js-item-menu">
						<div class="image">
							<img src="/images/icon/avatar-01.jpg" alt="John Doe" />
						</div>
						<div class="content">
							<a class="js-acc-btn" href="#">john doe</a>
						</div>
						<div class="account-dropdown js-dropdown">
							<div class="info clearfix">
								<div class="image">
									<a href="#"> <img src="/images/icon/avatar-01.jpg"
										alt="John Doe" />
									</a>
								</div>
								<div class="content">
									<h5 class="name">
										<a href="#">john doe</a>
									</h5>
									<span class="email">johndoe@example.com</span>
								</div>
							</div>
							<div class="account-dropdown__body">
								<div class="account-dropdown__item">
									<a href="#"> <i class="zmdi zmdi-account"></i>Account
									</a>
								</div>
								<div class="account-dropdown__item">
									<a href="#"> <i class="zmdi zmdi-settings"></i>Setting
									</a>
								</div>
								<div class="account-dropdown__item">
									<a href="#"> <i class="zmdi zmdi-money-box"></i>Billing
									</a>
								</div>
							</div>
							<div class="account-dropdown__footer">
								<a href="#"> <i class="zmdi zmdi-power"></i>Logout
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END HEADER MOBILE -->

		<!-- PAGE CONTENT-->
		<div class="page-content--bgf7">
			<!-- BREADCRUMB-->

			<!-- END BREADCRUMB-->

			<!-- WELCOME-->
			<!-- END WELCOME-->

			<!-- STATISTIC-->
			<!-- END STATISTIC-->

			<!-- STATISTIC CHART-->
			<!-- END STATISTIC CHART-->

			<!-- DATA TABLE-->
			<!-- END DATA TABLE-->

			<!-- COPYRIGHT-->
			<section class="p-t-60 p-b-20">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="copyright">
								<p>
									Copyright © 2019 global Capital. All rights reserved. Designed
									by <a href="https://mikesportfolio.github.io"> Mike</a>.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- END COPYRIGHT-->
		</div>

	</div>

	<!-- Jquery JS-->
	<script src="/vendor/jquery-3.2.1.min.js"></script>
	<!-- Bootstrap JS-->
	<script src="/vendor/bootstrap-4.1/popper.min.js"></script>
	<script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
	<!-- Vendor JS       -->
	<script src="/vendor/slick/slick.min.js">
		
	</script>
	<script src="/vendor/wow/wow.min.js"></script>
	<script src="/vendor/animsition/animsition.min.js"></script>
	<script
		src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
		
	</script>
	<script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
	<script src="/vendor/counter-up/jquery.counterup.min.js">
		
	</script>
	<script src="/vendor/circle-progress/circle-progress.min.js"></script>
	<script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
	<script src="/vendor/chartjs/Chart.bundle.min.js"></script>
	<script src="/vendor/select2/select2.min.js">
		
	</script>

	<!-- Main JS-->
	<script src="/js/main.js"></script>

</body>

</html>
<!-- end document-->